<h1>Write Answer</h1>
<%=form_for([@question, @answer]) do |f| %>

  <label for="description">Answer</label>
  <%= f.text_field :description, type: "text"%>


  <%= submit_tag "Post Answer", class: 'btn' %>
<%end%>
